*{
    padding: 0;
}


/* Cupons */
.div-cupons-cima{
    margin: 86px auto;
    margin-bottom: 106px;
    max-width: 1150px;
    height: auto;
    display: flex;
    flex-direction: row;
    /* background-color: palevioletred; */
}

.div-cupons-baixo{
    margin: 20px auto;
    /* max-width: 70%; */
    /* height: auto; */
    margin-bottom: 104px;
    /* background-color: blueviolet; */
}

.main-tit{
    width: 100%;
    height: auto;
    /* background-color: blueviolet; */
    text-align: center;
    margin-top: 70px;
    margin-bottom: 62px;
}
.main-tit h2{
    font-size: 36.5px;
    font-family: 'Montserrat', sans-serif;
    padding-bottom: 7px;
}
.main-tit p{
    font-size: 18px;
    font-family: 'Lato';
    font-weight: 100;
}

.div-image-cupom{
    height: 360px;
    margin: 0 auto;
    flex: 0.1;
    /* border-radius: 50px; */
    /* background-color: brown; */
}
.div-image-cupom img{
    max-width: 395px;
    max-height: 390px;
    border-radius: 195px;
    border: .35px solid #c7c7c7;
    animation: float 4s ease-in-out infinite;
}

@keyframes float {
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-32px);
    }
    100%{
        transform: translateY(0px);
    }
}

.div-text-cupom{
    height: auto;
    flex: 0.72;
    margin-left: 58px;
    /* background-color: green; */
}
.div-text-cupom h1{
    font-size: 32px;
    font-family: 'Montserrat';
    text-align: center;
    padding-bottom: 12px;
}

.caixa-tipos-cupons{
    width: 100%;
    height: auto;
    margin-top: 14px;
    /* background-color: orange; */
}
.caixa-tipos-1, .caixa-tipos-2, .caixa-tipos-3, .caixa-tipos-4{
    width: 100%;
    display: flex;
    /* background-color: purple; */
}
.caixa-tipos-1, .caixa-tipos-2, .caixa-tipos-3, .caixa-tipos-4{
    margin-top: 22px;
}

.caixa-tipos-img{
    width: auto;
    height: auto;
    /* background-color: brown; */
}

.caixa-tipos-text{
    width: auto;
    height: auto;
    padding-top: 1px;
    padding-left: 12px;
    font-size: 22.5px;
    line-height: 24.5px;
    font-family: 'Lato';
    /* background-color: blue; */
}


/* .nivel1, .nivel2, .nivel3{
    width: 100%; */
    /* height: auto; */
    /* background-color: orange;
} */

.nivel1-text{
    width: 100%;
    height: auto;
    /* background-color: brown; */
    text-align: center;
    padding-bottom: 18px;
}
.nivel1-text h2{
    font-size: 33px;
    font-family: 'Lato';
    padding-bottom: 15px;
}



.nivel1-todas-caixas{
    /* width: 90%; */
    /* height: auto; */
    margin: 0 auto;
    /* background-color: violet; */
    display: flex;
    flex-wrap: wrap;
    max-width: 1150px;
    /* flex-direction: row; */
}
  
  .nivel1-todas-caixas > div {
    /* flex: 1 1 200px; */
    flex: 1 1;
    margin: 17px;
    margin-bottom: 34px;
    max-width: 274px;
    min-width: 250px;
    /* max-height: 700px; */
    background-color: #f4f3f3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

.caixa-frequencia, .caixa-comida, .caixa-vip{
    height: auto;
    max-height: 700px;
    background-color: purple;
}

/* .caixa-frequencia, .caixa-comida{
    margin-right: 25px;
} */
.img-cupom{
    width: auto;
    height: 380px;
    margin: 0 auto;
    cursor: pointer;
    padding-top: 12px;
    /* background-color: olivedrab; */
}

.img-cupom img{
    /* width: 100%; */
    height: 100%;
    max-width: 88%;
    margin: 10px auto;
    margin-top: 0px;
    display: block;
}

.caixa-frequencia h2, .caixa-comida h2, .caixa-vip h2{
    font-size: 22px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    padding-top: 18px;
}

.cupom-text{
    width: 100%;
    height: auto;
    margin-top: 8px;
    margin-bottom: 16px;
    /* background-color: blue; */
}
.cupom-text h3{
    width: 100%;
    text-align: center;
    /* background-color: cadetblue; */
    letter-spacing: 6px;
    font-size: 15.7px;
    font-family: 'Helvetica';
    font-weight: 400;
    padding-bottom: 7px;
}
.cupom-text h1{
    width: 100%;
    text-align: center;
    /* background-color: forestgreen; */
    font-size: 25.5px;
    font-family: 'Montserrat';
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 12px;
}
.cupom-text p{
    width: 84%;
    text-align: center;
    margin: 0 auto;
    /* background-color: royalblue; */
    font-size: 17.6px;
    font-family: 'Lato';
    font-weight: 100;
    padding-bottom: 6px;
    line-height: 18.4px;
}

.cupom-bottom{
    width: 100%;
    height: 65px;
    background-color: #cbcbcb;
    display: flex;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.cupom-bottom-caixa{
    flex: 0.36;
    padding: 12px;
    padding-top: 18px;
}
.cupom-bottom-caixa h2{
    font-size: 21.5px;
    font-family: 'Montserrat';
    padding: 0;
}
.cupom-bottom-vantagem, .cupom-bottom-vantagem2, .cupom-bottom-vantagem3, 
.cupom-bottom-vantagem4, .cupom-bottom-vantagem5, .cupom-bottom-vantagem6,
.cupom-bottom-vantagem7, .cupom-bottom-vantagem8, .cupom-bottom-vantagem9{
    padding: 11px;
    flex: 0.64;
    background-color: #7800e0;
    color: white;
    border-bottom-right-radius: 12px;
    cursor: pointer;
}

.cupom-bottom-vantagem h2, .cupom-bottom-vantagem2 h2, .cupom-bottom-vantagem3 h2, 
.cupom-bottom-vantagem4 h2, .cupom-bottom-vantagem5 h2, .cupom-bottom-vantagem6 h2,
.cupom-bottom-vantagem7 h2, .cupom-bottom-vantagem8 h2, .cupom-bottom-vantagem9 h2{
    padding: 9px;
    font-size: 18.25px;
    font-family: 'Montserrat';
}






.scrollTop{
    outline: none;
    border-radius: 30px;
    width: 46px;
    height: 46px;
    padding: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 25px;
    bottom: 25px;
    z-index: 999;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition: all .4s ease;
    border: none;
  }
  
  .scrollTop.active{
    opacity: 1;
    visibility: visible;
  }

  

.popup-wrapper {
    background: rgba(0, 0, 0, .5);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
}

.popup{
    font-family: arial;
    text-align: center;
    width: 100%;
    max-width: 500px;
    height: auto;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    padding: 28px;
    background-color: white;
    position: relative;
    border-radius: 5px;
    transition: 2s all;
}

.popup a {
    color: white;
    cursor: pointer;
    padding: 8.5px 22.5px;
    text-decoration: none;
    font-size: 17.3px;
    border-radius: 8px;
    font-family: 'Montserrat';
    background: #7800e0;
}
.popup-tit{
    font-size: 24px;
    font-family: 'Lato';
    margin-bottom: 0px;
}
.popup-content p{
    font-size: 17px;
    margin: 28px;
    margin-bottom: 36px;
    font-family: 'Helvetica';
    /* background-color: rebeccapurple; */
}

.popup-content-text{
    width: auto;
    height: auto;
    margin: 22px;
    /* background-color: brown; */
}

.popup-close{
    position: absolute;
    top: 16px;
    right: 16px;
    cursor: pointer;
}


@media screen and (max-width: 1240px){
    .div-cupons-baixo{
      width: 84%;
      /* background-color: blueviolet; */
    }
    .nivel1-todas-caixas > div {
      /* flex: 1 1 200px; */
      flex: 1 1;
      margin: 24px;
      margin-bottom: 34px;
      max-width: 33%;
      min-width: 252px;
      /* max-height: 700px; */
      background-color: #f4f3f3;
      border-bottom-left-radius: 12px;
      border-bottom-right-radius: 12px;
    }
}

@media screen and (max-width: 1080px){
  .div-cupons-baixo{
    width: 82%;
    /* background-color: orange; */
  }
  .nivel1-todas-caixas > div {
    /* flex: 1 1 200px; */
    flex: 1 1;
    margin: 28px;
    margin-bottom: 34px;
    max-width: 50%;
    min-width: 252px;
    /* max-height: 700px; */
    background-color: #f4f3f3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .div-cupons-cima{
    margin: 86px auto;
    margin-bottom: 115px;
    max-width: 100%;
    /* background-color: blueviolet; */
}

  .div-text-cupom{
    height: auto;
    flex: 0.72;
    margin-left: 3vw;
    margin-right: 1.5vw;
    /* background-color: green; */
  }
}

@media screen and (max-width: 920px){
    .div-cupons-cima{
      margin: 89px auto;
      margin-bottom: 106px;
      max-width: 100%;
      height: auto;
      display: flex;
      flex-direction: column;
      /* background-color: blueviolet; */
  }

  .div-text-cupom{
    height: auto;
    flex: 0.72;
    margin-left: 0vw;
    margin-right: 0vw;
    margin-top: 48px;

    /* background-color: green; */
  }

  .caixa-tipos-cupons{
    width: 81%;
    height: auto;
    margin: 0 auto;
    margin-top: 14px;
    /* background-color: orange; */
}
}

@media screen and (max-width: 785px){
  .div-cupons-baixo{
    width: 82%;
    /* background-color: rebeccapurple; */
  }
  .nivel1-todas-caixas > div {
    /* flex: 1 1 200px; */
    flex: 1 1;
    margin: 30px;
    margin-bottom: 34px;
    max-width: 100%;
    min-width: 252px;
    /* max-height: 700px; */
    background-color: #f4f3f3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}


@media screen and (max-width: 580px){
  .div-cupons-baixo{
    width: 100%;
    /* background-color: red; */
  }
  .nivel1-todas-caixas > div {
    /* flex: 1 1 200px; */
    flex: 1 1;
    /* margin: 28px; */
    margin-bottom: 34px;
    max-width: 100%;
    min-width: 252px;
    /* max-height: 700px; */
    background-color: #f4f3f3;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
  }

  .popup{
    width: 74%;
    /* max-width: 100%; */
}

  .div-image-cupom img{
    width: 100%;
    max-width: 100%;
    max-height: 60vh;
    border-radius: 10px;
    margin: 0 auto;
    /* animation: float 4s ease-in-out infinite; */
    animation: none;
  }

  .div-image-cupom{
    width: 84%;
    height: 60vh;
    margin: 0 auto;
    /* border-radius: 50px; */
    /* background-color: gold; */
}

  .div-cupons-cima{
    margin: 86px auto;
    margin-bottom: 106px;
    max-width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* background-color: burlywood; */
  }
}





/* Eventos  */
.div-imagem-principal{
    width: 100%;
    height: 540px;
    background-color: cadetblue;
    margin: 0px auto;
    margin-bottom: 60px;
  }


.div-imagem-principal img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top 140px;
}
.caixa-principal-text{
    position: absolute;
    width: auto;
    height: auto;
    top: 37.5%;
    left: 13%;
    color: white;
    overflow: hidden;
    /* background-color: green; */
}
.caixa-principal-text h2{
  font-size: 3.2em;
  font-family: 'Montserrat', sans-serif;
  padding-bottom: 4px;
}
.caixa-principal-text p{
  font-size: 1.37em;
  font-family: 'Helvetica';
  font-weight: 400;
}
  
  .efeito-abaixa{
    width: 49px;
    height: 68px;
    background-color: transparent;
    margin: 0 auto;
    position: absolute;
    left: 50%;
    right: 50%;
    top: 505px;
    border-radius: 21px;
  }
  .scroll-down{
    width: 42px;
    height: 64px;
    border: 1.9px solid #f4f3f3;
    left: 50%;
    right: 50%;
    bottom: 20px;
    border-radius: 21px;
    cursor: pointer;
  }
  
  .scroll-down::before, .scroll-down::after{
    content: '';
    position: absolute;
    top: 20%;
    left: 47.4%;
    border: 1.95px solid #f4f3f3;
    height: 10px;
    width: 10px;
    transform: translate(-50%, -100%) rotate(45deg);
    border-top: transparent;
    border-left: transparent;
    animation: scroll-down 1.2s ease-in-out infinite;
  }
  .scroll-down::after{
    top: 29%;
    animation-delay: .28s;
  }
  
  @keyframes scroll-down{
    0%{
      opacity: 0;
    }
    30%{
      opacity: 1;
    }
    60%{
      opacity: 1;
    }
    100%{
      opacity: 0;
      top: 88%;
    }
  }

  .prog-eventos{
    max-width: 1270px;
    height: auto;
    /* background-color: #8789E5; */
    margin: 0 auto;
    padding-top: 81px;
    margin-top: 42px;
  }

  .caixa-grande-prog{
    width: 100%;
    height: auto;
    padding-top: 35px;
    padding-bottom: 60px;
    margin-bottom: 12px;
    border-radius: 24px;
    background-color: #5808b5;
  }

  .caixas-prog{
    width: 90.8%;
    height: 655px;
    margin: 0 auto;
    display: flex;
    margin-top: 25px;
    gap: 27px;
    /* background-color: brown; */
  }
  .caixa-prog{
    flex: 1;
    border-radius: 12px;
    background-color: #f5f5f5;
    box-shadow: 5px 4px 4px rgba(0, 0, 0, .30);
  }
  .caixa-prog-tit{
    width: 100%;
    height: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    /* background-color: brown; */
  }
  .caixa-prog-tit h3{
    font-size: 1.89em;
    padding-bottom: 9px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: white;
  }

  .caixa-prog h2{
    font-size: 1.7em;
    padding: 13px;
    padding-bottom: 16px;
    padding: 15px;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
  }

  .caixa-prog-img{
    width: 100%;
    height: 322px;
    /* background-color: blue; */
  }
  .caixa-prog-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: top 190px;
  }

  .caixa-prog-text{
    width: auto;
    height: auto;
    text-align: center;
    /* background-color: red; */
    margin: 10px;
    margin-top: 6px;
    margin-right: 13px;
    margin-left: 13px;
  }

  .caixa-prog-text span{
    font-size: 15.70px;
    letter-spacing: 6px;
    /* background-color: orange; */
    font-family: 'Helvetica';
    font-weight: 100;
  }
  .caixa-prog-text h2{
    font-size: 26.8px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    padding-top: 0px;
    letter-spacing: 2px;
    padding-bottom: 7px;
    line-height: 30px;
  }
  .caixa-prog-text h2 img:first-child{
    transform: rotate(-20deg);
    padding-right: 7px;
  }
  .caixa-prog-text h2 img:last-child{
    transform: rotate(20deg);
    padding-left: 5.5px;
  }

  .caixa-prog-text p{
    font-size: 17.78px;
    font-family: 'Lato';
  }

  .caixa-prog-text h4{
    font-size: 21px;
    font-weight: 400;
    padding-top: 7px;
    font-family: 'Lato';
  }

  .caixa-prog-text h5{
    font-size: 24px;
    font-weight: 400;
    padding: 0px;
    padding-bottom: 5px;
    font-family: 'Lato';
  }

.btnAdicionar{
    width: 220px;
    height: 42px;
    border:none ;
    outline: none;
    font-family: "Montserrat";
    font-size: 16px;
    border-radius: 7px;
    position: relative;
    margin: 9px;
    margin-top: 19px;
    margin-bottom: 15px;
    background-color: #23471f;
    text-align: center;
    cursor: pointer;
    color: white;
}
.btnAdicionar:hover{
  background-color: #0ea11d;
  transition: all 0.3s;
}



  .como-funciona{
    max-width: auto;
    height: auto;
    /* background-color: blue; */
    margin: 118px auto;
    margin-bottom: 122px;
    text-align: center;
  }
  .caixa-efeito-text{
    width: 852px;
    height: 45px;
    padding-bottom: 9px;
    padding-left: 14px;
    padding-right: 14px;
    border-bottom: 2.2px solid black;
    margin: 0 auto;
    /* background-color: olive; */
  }

  .caixa-efeito-text p{
    font-size: 38.7px;
    font-family: "Montserrat";
    color: black;
    font-weight: bold;
  }
  .caixa-efeito-text span{
    font-size: 34px;
    font-family: "Montserrat";
    color: #5808b5;
    font-weight: bold;
  }

  .div-btnConfetti{
    width: 235px;
    height: 225px;
    margin: 102px auto;
  }

  #confetti{
    width: 100%;
    height: 100%;
    border: 8px dashed #d2d2d2;
    border-radius: 300px;
    padding: 18px;
    padding-left: 40px;
    color: white;
    cursor: pointer;
  }

  #confetti img{
    width: 88%;
    height: 88%;
    padding-bottom: 5px;
    /* object-fit: cover; */
  }